0.0.0.0
gzip
log /code/access.log

# gql server
proxy /v1 graphql:8080
proxy /console graphql:8080

# express server
proxy /upload express:8080
proxy /login express:8080
proxy /signup express:8080
proxy /webhook express:8080
proxy /jwks express:8080

root /code/public