0.0.0.0
gzip
log /code/access.log

# gql server
proxy /v1 ssv-gql:8080
proxy /console ssv-gql:8080

#ssv-express server
proxy /upload ssv-express:8080
proxy /login ssv-express:8080
proxy /signup ssv-express:8080
proxy /webhook ssv-express:8080
proxy /jwks ssv-express:8080

root /code/public
